<link rel="stylesheet" href="/style.css">

<nav>
<a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a> |
<a href="/syntax" class="<%= activePage === 'syntax' ? 'active' : '' %>">Syntax</a> |
<a href="/students" class="<%= activePage === 'students' ? 'active' : '' %>">Students</a>
</nav>
